.container {
  display: flex;
  justify-content: center;
  background-color: #D1E8E4;
  max-height: 100vh;
}

h1 {
  font-size: 40px;
}

.text {
  width: 50%;
}

.btn {
  display: flex;
  justify-content: space-evenly;
  background-color: #D1E8E4;
}

button {

  background-color: #128529;
  color: #fff;
  padding: 15px;
  border: none;
  text-transform: uppercase;
}

@media all and (max-width: 700px) {
  .text {
    width: 90%;
  }
}